.task-container {
  width: 500px;
  min-height: 65px;
  background-color: #eff0f3;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px white solid;
  cursor: pointer;
}

.task-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.task-container.completed {
  background-color: #d9376e;
  text-decoration: line-through;
}

.task-container:nth-child(3n + 1) {
  background-color: #e3e3e451;
  color: #ff8e3c;
  border: 2px solid rgb(252, 147, 27);
}
.task-container:nth-child(3n + 2) {
  background-color: #fffffe;
  border: 2px solid rgba(128, 128, 128, 0.348);
}
.task-container:nth-child(3n + 3) {
  background-color: #ff8d3c;
  color: #fffffe;
  border: 2px solid rgb(252, 252, 252);
}
